.u-mt5
	margin-top: .25rem !important
.u-mt10
	margin-top: .5rem !important
.u-mt15
	margin-top: .75rem !important
.u-mt20
	margin-top: 1rem !important
.u-mt40
	margin-top: 2rem !important

.u-mr5
	margin-right: .25rem !important
.u-mr10
	margin-right: .5rem !important
.u-mr15
	margin-right: .75rem !important
.u-mr20
	margin-right: 1rem !important

.u-mb5
	margin-bottom: .25rem !important
.u-mb10
	margin-bottom: .5rem !important
.u-mb15
	margin-bottom: .75rem !important
.u-mb20
	margin-bottom: 1rem !important

.u-ml5
	margin-left: .25rem !important
.u-ml10
	margin-left: .5rem !important
.u-ml15
	margin-left: .75rem !important
.u-ml20
	margin-left: 1rem !important

.u-mlauto
	margin-left: auto !important

.u-mrauto
	margin-right: auto !important

.u-display-ib
	display: inline-block !important

.u-display-i
	display: inline !important

.u-display-b
	display: block !important

.u-display-flex
	display: flex !important
	&.u-flex-column
		flex-direction: column
	&.u-ai-baseline
		align-items: baseline

.u-hidden
	display: none !important

.u-ta-left
	text-align: left !important

.u-ta-center
	text-align: center !important

.u-ta-right
	text-align: right !important

.u-td-underline
	text-decoration underline !important

.u-old
	color: #999
	text-decoration: line-through

.u-pointer
	cursor pointer !important

.u-color-main
	color $color-main

.u-color-green
	color $color-green

.u-color-red
	color $color-red

.u-color-blue
	color $color-blue

.u-text-bold
	font-weight: bold

.u-wauto
	width: auto !important

.u-w50
	width: 2.5rem !important

.u-w80
	width: 4rem !important

.u-w100
	width: 5rem !important

.u-w150
	width: 7.5rem !important
